<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lista de productos</h3>
                </div>
                <div class="card-body">
                    <app-formulario-producto (productoAgregado)="agregado($event)"></app-formulario-producto>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <li class="row">
        <ul class="row">
            <app-producto-component *ngFor="let p of all" [producto]="p"></app-producto-component>
        </ul>
    </li>
</div>