<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
    </div>
    <div class="card-desc">
        <p>{{producto.nombre}}</p>
        <p>{{producto.descripcion}}</p>
        <div>
            <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>{{producto.votos}}
        </div>
    </div>
    <button class="btn btn-primary">Elegir!</button>
</div>